{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block main %}
<div class="print-main">
    <h3>Today's Predictions</h3>
</div>

<div class="print-grids">
{% for blog_post in blog_posts.object_list %}

    <div class="print-grid">

        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        {% block blog_post_list_post_featured_image %}
        <div class="print-img">
            <a href="{{ blog_post.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}" class="img-responsive">
            </a>
        </div>
        {% endblock %}
        {% endif %}

        <div class="print-text">
            {% block blog_post_list_post_title %}
            {% editable blog_post.title %}
            <a class="bhead"  href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
            {% endeditable %}
            {% endblock %}
            <p>
                <a href="#">NBA</a> |

                {% block blog_post_list_post_metainfo %}
                {% editable blog_post.publish_date %}
                    {% trans "Posted" %}:
                    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                {% endeditable %}
                {% endblock %}
            </p>

            {% block blog_post_list_post_content %}
            {% editable blog_post.content %}
            <!-- blog_post.description_from_content -->
            <p>{{ blog_post.description|safe }}</p>
            {% endeditable %}
            {% endblock %}

            {% block blog_post_list_post_links %}

            <div class="blog-list-detail">
                {% keywords_for blog_post as tags %}
                <p>
                <a href="{{ blog_post.get_absolute_url }}">{% trans "Read More" %}</a>
                {% if blog_post.allow_comments %}
                /
                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                    data-disqus-identifier="{% disqus_id_for blog_post %}">
                    {% trans "Comments" %}
                </a>
                {% else %}
                <a href="{{ blog_post.get_absolute_url }}#comments">
                    {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                </a>
                {% endif %}
                {% endif %}
                </p>
            </div><!-- blog-list-detail -->
        </div><!-- print-text -->
        <div class="clearfix"></div>
    </div><!-- print-grid -->
    {% endblock %}
{% endfor %}
</div>

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
